
venv/
.env/
.venv/
env/
ENV/
*.pyc
__pycache__/

chroma_db/
data/temp/
*.sqlite3
*.db
*.log

.env
*.env

*.pkl
*.npz
*.npy


.streamlit/
.streamlit-cache/
.cache/
__pycache__/

.vscode/
.idea/
.DS_Store
Thumbs.db


build/
dist/
*.egg-info/


.ipynb_checkpoints/
*.ipynb_*
*.jsonl


*.pem
*.key
*.crt


node_modules/
package-lock.json
